<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CelesteStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CelesteStudio.Properties.Settings>
            <setting name="VNyanURL" serializeAs="String">
                <value>ws://localhost:8000/vnyan</value>
            </setting>
            <setting name="VTuberDangerZoneX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VTuberDangerZoneY1" serializeAs="String">
                <value>136</value>
            </setting>
            <setting name="VTuberDangerZoneX2" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="VTuberDangerZoneY2" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="VTuberSafeZoneX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VTuberSafeZoneY1" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="VTuberSafeZoneX2" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="VTuberSafeZoneY2" serializeAs="String">
                <value>180</value>
            </setting>
        </CelesteStudio.Properties.Settings>
    </userSettings>
</configuration>